{{#if events}}
  <ul class="events">
    {{#each events}}
      <div class="card" class="">
        <div class="card-content">
          <a class="card-title" href="/users/{{author}}/events/{{id}}">
            
            <img src="{{image}}" width="250" height="250">
            </br>
            {{content}}
          </a>
        </div>
        <div class="card-action">
          <span class="event__date">{{ createdAt }}</span>
          <span class="event_reviews">{{ reviews.length }} Reviews</span>
        </div>
      </div>
    {{/each}}
  </ul>
  {{else}}
  <h1>There are no events</h1>
{{/if}}