<div class="container">
   <h2 class="text-center">{{user.name}}</h2>
   <div class="text-center">
       <img class="shop-img-banner" src={{user.image}} alt="user">
   </div>
   <div class="text-center">
       <a class="action-btn btn btn-info" href="/users/{{user.id}}/edit">EDIT</a>
       <form class="delete-form"action="/users/{{user.id}}?_method=DELETE" method="POST">
           <input class="action-btn btn btn-danger" type="submit" value="DELETE">
       </form>
   </div>
   <h3>{{user.name}}'s Events</h3>
<a href="/users/{{id}}/events/new">
  <button class="btn small">Create Event</button>
</a>
{{#if user.events}}
<ul class="events">
  {{#each user.events}}
  <div class="card">
  <a href="/users/{{user.userId}}/events/{{event.id}}"
    <div class="card-content">
      <img src="{{event.image}}"
      class="card-title" href="/users/{{event.userId}}/events/{{event.eventId}}">
        {{ content }}
      </a>
    </div>
    <div class="card-action">
      <a href="/user/{{ user.id }}/events/{{event.id}}" class="">{{ event.author.local.email }}</a>
      <span class="event__date">{{ createdAt }}</span>
      <span class="event_comments">{{ reviews.length }} Reviews</span>
    </div>
  </div>
  {{/each}}
</ul>
{{else}}
<div class="card">
  <div class="card-content">
    <p>This user does not yet have any events.</p>
  </div>
</div>
{{/if}}
</div>