<h3>{{user.name}}'s Event's</h3>
<img src={{user.image}}>
<a href="/users/{{user._id}}/events/new">
  <button class="btn small">Create Event</button>
</a>
{{#if user.events}}
<ul class="events">
  {{#each user.events}}
  <div class="card">
    <div class="card-content">
      <a class="card-title" href="/users/{{../user._id}}/events/{{id}}">
        {{ content }}
      </a>
    </div>
    <div class="card-action">
      <a href="/user/{{ author.id }}" class="">{{ author.local.name }}</a>
      <span class="event__date">{{ createdAt }}</span>
      <span class="event_reviews">{{ reviews.length }} Reviews</span>
    </div>
  </div>
  {{/each}}
</ul>
{{else}}
<div class="card">
  <div class="card-content">
    <p>This user does not yet have any events.</p>
  </div>
</div>
{{/if}}