<main>
	<h2>{{name}}'s Events!</h2>
 {{events}}
		
		{{#each events}}


			<div class="event-container">

				
				{{name}}
				   <a href "/{{id}}"> {{name}}</a>  
					{{!-- <img src={{img}} alt={{user.name}}> --}}
				{{!-- <p> {{review}}  </p> --}}

			</div>

		
		
{{/each}}

</main>
