<main>
	<h2>{{users.name}}'s Events!</h2>

		
		{{#each users.events}}


			<div class="event-container">

				
				
				   <a href "/{{id}}"> {{user.name}}</a>>  
					<img src={{img}} alt={{user.name}}>
				<p> {{review}}  </p>

			</div>

		
		
{{/each}}

</main>
