<main>
	<h2>{{name}}'s Events!</h2>
        
        {{#each events}}


			<div class="event-container">

				
				{{event.name}}
				   <a href "/users/{{userId}}"> {{name}}</a>  
					<img src={{image}} alt={{event.name}}> 
				<p> {{review}}  </p>

			</div>

		
		
{{/each}}

</main>
