<main>
	<h2>{{name}}'s Events!</h2>
        
        {{#each events}}


			<div class="event-container">

				
				
				   <a href= "/users/{{userId}}"> {{name}}
				    {{event.name}}
					<img src={{image}} alt={{event.name}}> </a> 
				<p> {{review}}  </p>

			</div>

		
		
{{/each}}

</main>
