<h1>{{event.name}}</h1>


<div class="card">
    <div class="card-content">
        <p>
            {{event.content}}
        </p>

<div class="card">
    <div class="card-content">
        <img src="{{event.image}}" alt="EVENT IMAGE">
        
            <button class="btn pink">Edit</button>
            <a class="action-btn btn btn-info" href="/users/{{userId}}/events/{{eventId}}/edit">EDIT</a>
        
        <form action="/users/{{userId}}/events/{{event.eventId}}?_method=DELETE" method="POST">
            <button class="btn pink">Delete</button>
        </form>
    </div>
</div>
        