<h1>hello from single event</h1>


<div class="card">
    <div class="card-content">
        <p>
            {{events}}
        </p>
        <a href="/users/{{userId}}/events/{{eventId}}/edit">
            <button class="btn pink">Edit</button>
        </a>
        <form action="/users/{{userId}}/events/{{eventId}}?_method=DELETE" method="POST">
            <button class="btn pink">Delete</button>
        </form>
    </div>
</div>