<h1>{{event.name}}</h1>


<div class="card">
    <div class="card-content">
        <p>
            {{event.content}}
        </p>

<div class="card">
    <div class="card-content">
        <img src="{{event.image}}" alt="EVENT IMAGE">
        <a href="/users/{{userId}}/events/{{eventId}}/edit">
            <button class="btn pink">Edit</button>
        </a>
        <form action="/users/{{userId}}/events/{{id}}?_method=DELETE" method="POST">
            <button class="btn pink">Delete</button>
        </form>
    </div>
</div>}
        