<h1>hello from a spectator</h1>


<div class="card">
    <div class="card-content">
        <p>
            {{event.content}}
        </p>
        <a href="users/{{userId}}/events/{{eventId}}/spectators"/edit">
            <button class="btn pink">Edit</button>
        </a>
        <form action="users/{{userId}}/events/{{eventId}}/spectators?_method=DELETE" method="POST">
            <button class="btn pink">Delete</button>
        </form>
    </div>
</div>